@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    @apply bg-pale-blue text-[1.6rem];
  }
}

@layer components {
  /* .bg {
    @apply absolute -z-10  top-0 left-0 max-w-[1440px] mx-auto lg:bg-[url(./assets/pattern-background-desktop.svg)] h-[31%] bg-no-repeat bg-center bg-cover bg-[url(./assets/pattern-background-mobile.svg);
  } */

  .bg {
    @apply w-full absolute -z-10  top-0 left-2/4 -translate-x-2/4 max-w-[1440px] bg-no-repeat  bg-cover bg-[url(./assets/pattern-background-mobile.svg)] h-[25%] sm:h-[50%] sm:bg-[url(./assets/pattern-background-desktop.svg)];
  }
}
